.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image: url('img/stone-wall.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.sidebar, .main-content {
	background: rgba(255, 255, 255, 0.75);
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 2px rgba(226, 178, 6, 0.9);
	padding: 10px;
}

.list-group-item {
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.6)
}

hr.custom-separator { 
	padding: 0; 
	border: none; 
	border-top: medium double #333; 
	color: #333; 
	text-align: center; 
} 

hr.custom-separator:after { 
	content: "§"; 
	display: inline-block; 
	position: relative; 
	top: -0.7em; 
	font-size: 1.5em; 
	padding: 0 0.25em; 
	background: transparent; 
}

.full {
	width: 100%;
}

.product-row {
	border-bottom: #999 1px solid;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.stars {
	margin-bottom: 5px;
	width: 120px;
	background: #000;
}